# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio Code specific files
.vscode/
*.code-workspace

# Vim specific files
*.swp

# Environment files
.env

# EditorConfig file
.editorconfig

# Logs
*.log

# Temporary files
*~

# Package files
*.zip
*.tar.gz
*.rar

# Ignore all files in the root .gitignore
!/.gitignore
