# Auto-detect text files and perform LF normalization
* text=auto

# Visual Studio Code specific
*.code-workspace eol=lf

# EditorConfig specific
.editorconfig eol=lf

# Include .gitkeep files in empty directories
**/**/**/**/**/.gitkeep !/.gitignore
